$patButtonBckgrndColor: #E9967A;
$patButtonBckgrndHoverColor: #9932CC;
$patButtonHoverColor: #E9967A;
$bobButtonBckgrndColor: #FFD700;
$bobButtonBckgrndHoverColor: #FF8C00;
$bobButtonHoverColor: #FFD700;
$arenaColor: rgba(200,250,250,0.6);
$mainButtonBckgrndColor: #483D8B;
$mainButtonColor: #ADD8E6;
$fighterDim: 6.25;
$fireworksFontSize: 3;
$arenaHeight: 7.8;
$fadeTime: 1; /* ensure this is consistent with 'fadeTime' variable defined in 'constants.js' */
$maxNumOfFighters: 5; /* ensure this is consistent with the project's global 'maxNumberOfFighters' variable */

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	background-image: url(../static/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#buttonsDiv{
	display: flex;
	justify-content: space-around;
}

#start{
	display:flex;
	justify-content:space-around;
	align-items: center;
	height: 100%;
    width: 100%;
}

#startGameButton:hover{
	background-color: #{$mainButtonBckgrndColor};
	color: #{$mainButtonColor};
}

#startWarButton:hover{
	background-color: #{$mainButtonBckgrndColor};
	color: #{$mainButtonColor};
}

#addSpongebobButton{
	background-color: #{$bobButtonBckgrndColor};
	&:hover{
		background-color: #{$bobButtonBckgrndHoverColor};
		color: #{$bobButtonHoverColor};
	
	}
}

#addPatrickButton{
	background-color: #{$patButtonBckgrndColor};
	&:hover{
		background-color: #{$patButtonBckgrndHoverColor};
		color: #{$patButtonHoverColor};
	}
} 

#arena{
	background-image: url(../static/coloseum.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	left:0;
    background-color: #{$arenaColor};
    width: 100%; 
    height: #{$arenaHeight}rem;
}

.mainScreenElements{
	display:flex;
	flex-direction: column;
}

.bobs-container, .pats-container {
    display: flex;
	flex-direction: column;
	position: relative;
    align-items: center;
    max-width: 100%;
    height: #{$maxNumOfFighters*$fighterDim}rem;

	img{
		position: relative;
		width: #{$fighterDim}rem;
		height: #{$fighterDim}rem;
		object-fit: cover;
	}
}

#fighters-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%; 
    height: auto;
}

.finalScreen{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#fireworks{
	background-image: url(../static/fireworks.GIF);
	background-size: cover;
	color: white;
	font-size: #{$fireworksFontSize}rem;
	height: 25rem;
	width: 30rem;
}

#bobWinGif{
  object-fit: cover;
  height: 31.3rem;
  width: 31.3rem;
}

#patWinGif{
  object-fit: cover;	
  height: 25rem;
  width: 25rem;
}

.fadeOut {
  opacity: 0;
  transition: opacity #{$fadeTime}s ease-in-out;  
}

.fadeIn {
  opacity: 1;
  transition: opacity #{$fadeTime}s ease-in-out; 
}

.auras{
	display: flex;
	justify-content: row; 
	top: 0;
}

#spaceBetweenAuras{
	width: 4.3rem;
	height:7.8rem;
}

.fixed{
	position: fixed;
}